body {
  height: 100vh;
  background-image: url("./home.jpg");
  background-size: cover;
  background-position: center;
}

.font {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 500;
  font-style: normal;
  background-color: rgb(111, 176, 130);
}
