<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>edit</title>
</head>
<body>
    <form action="/campground">
    <div>
        <label for="city">city</label>
        <input type="text" id="city" name="campground[city]">
    
    </div>
    <div>
    <label for="population">population</label>
        <input type="text" id="population" name="campground[population]">
        </div>
        </form>
        <a href="/campground/<%= campground._id %>">back to campground</a>
</body>
</html>