<footer class="py-5 mt-auto font">
  <div class="container">
    <span class="text-muted d-flex justify-content-center">
      &copy yelpcamp 2022
    </span>
    <span class="text-muted d-flex justify-content-center">codewithDeepak</span>
  </div>
</footer>
