
    <%= layout ('/boilerplate') %>
    
    <div class="row ">
      <div class="col-md-6 offset-md-3">
        <div class="card-body">
          <h1 class="text-center mt-3">Login</h1>
          <form  action="/login" method ="POST" novalidate class="validate-form">
                  <div class="mb-3">
                    <label for="username" class="form-label" >username</label>
                    <input type="text" class="form-control" id="username" name="username" placeholder="username" required >
                    <div class="valid-feedback">
                      looks good
                    </div>
                  </div>
          
                  <label for="password" class="form-label" >password</label>
                    <input type="text" class="form-control" id="password" name="password"  placeholder="password" required >
                    <div class="valid-feedback">
                      looks good
                    </div>
                  <div class="mb-3 form-check d-flex justify-content-center">
                    <button class="btn btn-outline-success mt-3" >Login</button>
                  </div>
    
      </form>
      </div>
      </div>
      </div>
    </div>
  </div>
   
    </body>
    </html>